html,
body {
  align-items: center;
  background-color: #222222;
  color: #FFFFFF;
  font-size: 1.3rem;
}

main {
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 5px;
  border-radius: 5px;
}
