html,

body {
  align-items: center;
  background: linear-gradient(to bottom right, #444444, #009a5b) fixed;
  font-size: 1.3rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

